h1{
  color: green;
  background-color: black;
}

p{
  color: white;
  background-color: black;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
    border-style: double;
    border-color: blue;
    border-radius: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
    background-image: linear-gradient(blue, red);
    color: aliceblue;
}

